@media (max-width: 768px) {
    .bg-blue-900 {
      z-index: 999;
    }
    body {
      padding-top: 0px;
    }
    .new{
      max-width: 186.488px;
    }
}



/* code for logo animation */
.logo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-icon {
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
  margin-right: 20px; /* Add space to the right side of the icon (adjust the value as needed) */
}

.text-container {
  display: flex;
  margin-left: 10px;
}

.logo-text {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 1s; /* Delay the animation by 1 second */

}

@keyframes slideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
/*Preloader animation*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.preloader-logo {
  width: 200px; /* Adjust the size to your preference */
  height: 200px;
  border-radius: 50%;
  animation: pulse 3s linear infinite;
}
@-webkit-keyframes "pulse" {
  0% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  50% {
     -webkit-transform: scale(0.8);
     transform: scale(0.8);
  }
  100% {
      -webkit-transform: scale(1);
     transform: scale(1);
  }
  }

.site-wrap {
  display: none; /* Hide the main site initially */
}
